<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>File Transmission System</title>
</head>
<body>
    <h1>局域网文件传输系统</h1>
    <p class="reminder">单个文件大小最好在500MB以内</p>
    <form class="fileupload" action="/upload" method="post" enctype="multipart/form-data">
        <div class="container">
            <input type="file" id="fileinput" name="file">
            <button type="submit">上传</button>
        </div>
    </form>
</body>
</html>